body {font-size:16px!important; font-weight:600;}
/* search results */
/* business imagees */
.img-business {padding:10px;}
.rsvpButton a, .rsvpButton a:hover, .rsvpButton:hover, #login-btn:hover {
    color: white;
    font-weight: 900;
    text-decoration:none;
    background-color: #000080;
}
.rsvpButton, #login-btn {background-color: #0000FF; margin-left:10px; padding:10px; border-radius:10px; color:#ffffff;  font-weight: 700; cursor:pointer;}

#searchResults{padding-top:50px;}

.list-group-item:hover {
    background-color: #eee;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;